$font-family: "crd-icons" !default;
$font-path: "../fonts" !default;
$font-code: "tl379m" !default;

$font-size: (
	sm: 12px,
	md: 16px,
	lg: 24px,
);

$crdicons: (
	arrow-right: "\f061",
	bell: "\f0f3",
	comment: "\f075",
	locations: "\f3c5",
	phone: "\f095",
	search: "\f002",
	email: "\f0e0",
	facebook: "\f09a",
	linkedin: "\f08c",
	instagram: "\f16d",
	twitter: "\f099",
	youtube: "\f167",
);
